@import url("reset.css");
@media screen and (aspect-ratio: 16/9) {
  body {
    background-color: white;
    color: rgb(215,83,14);
  }
}

@font-face {
    font-family: 'champagne__limousinesregular';
    src: url('fonts/champagne/champagne_limousines-webfont.eot');
    src: url('fonts/champagne/champagne_limousines-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/champagne/champagne_limousines-webfont.woff2') format('woff2'),
         url('fonts/champagne/champagne_limousines-webfont.woff') format('woff'),
         url('fonts/champagne/champagne_limousines-webfont.svg#champagne__limousinesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'crapaudgros';
    src: url('fonts/crapaud/crapaud_gros-webfont.eot');
    src: url('fonts/crapaud/crapaud_gros-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/crapaud/crapaud_gros-webfont.woff2') format('woff2'),
         url('fonts/crapaud/crapaud_gros-webfont.woff') format('woff'),
         url('fonts/crapaud/crapaud_gros-webfont.svg#crapaudgros') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: white;
  color: rgb(215,83,14);
font-family: 'champagne__limousinesregular', arial, sans-serif;
}

/* Layout */
header {
  height: 15vh;
  background-color: blue;
    /*padding-bottom: 3vh;*/
}

main {
  height: 85vh;
  line-height: 85vh;
  text-align: center;
    background-color: green;
}

/* Headlines */
h1 {
  font-size: 6vh;
}

h2 {
    font-size: 5vh;
}

h3 {
    font-size: 4vh;
}

h4 {
    font-size: 3vh;
}

h5 {
    font-size: 2vh;
}
h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  letter-spacing: 0.3em;
}


/* General */
button {
  margin: 1.5vw;
  border: 0.1em solid;
  border-radius: 1em;
  font-size: 4vw;
  color: black;
background-color: white;
  border-color: rgb(215,83,14);
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: bold;
font-family: 'champagne__limousinesregular', arial, sans-serif;
}

/* Upper section */
#headTable {
  width: 100%;
    table-layout: fixed;
}

#title {
    margin-top: 7%;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    font-size: 5vh;
    text-transform: uppercase;
    letter-spacing: 1.5vw;
}

#cancelOrderB {
  width: 22vw;
  height: 12vh;
  float:left;
    font-size: 4vw;
    font-size-adjust: auto;
}

#cancelOrderText {
    display: block;
width: auto;
 height: 80%;
padding-top: 2.5vh;
}

#basketB {
  width: 22vw;
  height: 12vh;
  float:right;
  border-color: transparent;
}

#basketLogo {
 width: auto;
 height: 80%;
margin-left: auto;
 margin-right: auto;
}

/* Central section */

#buttonTable {
  width: 100%;
    background-color: red;
    margin-bottom: 10vh;
}


#lowerTable {
  width: 100%;
    background-color: red;
    margin-top: 7vh;
}



/* Bottom section */
#bottomTable {
  width: 100%;
    position: fixed;
    bottom: 0px;
}

.goB {
  width: auto;
  height: 12vh;
  border-color: white;
  font-size: 4vw;
    vertical-align: baseline;
}

#goBackB {
    left: 0;
}

#goForwardB {
  right: 0;
}

.arrow {
 width: auto;
 height: 90%;
margin-left: auto;
 margin-right: auto;
}

/* Start page */
#centerSecStartP {
  display: block;
  line-height: normal;
    height: 85vh;
    background-color: yellow;
}

#languageB {
    width: 22vw;
  height: 10vh;
  float: right;
    margin: 1em;
    font-size: 3vw;
}

#juiciferLogo {
  width: 50%;
  margin-bottom: 5%;
}

#juicifersFavB {
  width: 80%;
  height: 11vh;
}

#makeYourOwnB {
  width: 80%;
  height: 11vh;
}

/* Your drink page */
#centerSecYourDrinkP {
  display: block;
  line-height: normal;
    height: 85vh;
}

.ingredientB {
  width: 75%;
  height: 8vh;
}

#forwardInfo {
    margin-left: 30vw;
    position: relative;
}

/* Change ingredients page */
#categoryTable {
    width: 100%;
}

.categoryB {
    width: 30vw;
    height: 8vh;
    font-size: 3vw;
    font-size-adjust: auto;
}

#ingredientsGrid {
    display: grid;
    border-color: black;
    grid-template-columns: repeat(3, 20px [3]);
    
}

/* Choose Type page */
#centerSecChooseTypeP {
    margin-top: 15%;
    display: block;
  line-height: normal;
    height: 85vh;
    background-color: yellow;
}

#goBackToStart {
    position: fixed;
    bottom: 0px;
}

/* Choose Size page */

#cupLogoS {
    height: 37%;
    width: auto;
    margin-top: 6.5vh;
}

#cupLogoM {
    height: 47%;
    width: auto;
    margin-top: 5vh;
}

#cupLogoL {
    height: 57%;
    width: auto;
}

.cup {
    width: 30vw;
    height: 33vh;
    vertical-align: middle;
}
/* Cart Page*/

#titleCart {
    padding-top: 7%;
    padding-right:23%;
    text-align:center;
    background-color: cyan;
    font-size: 5vh;
    text-transform: uppercase;
    letter-spacing: 1.5vw;
}

#cartTable {
    width: 100%;
}

#goBackBCart {
    position:fixed;
    left: 0px;
    bottom:0px; 
}

#payB{
    position:fixed;
    right: 0px;
    bottom:0px; 
}

#addMoreDrinksDiv{
    margin-top:50vh;
}

hr {
    border-color: black;
    width: 80%;
}



@media all and (max-height: 450px) {
    header {
        height: 60px;
    }
    
    #cancelOrderB {
        height: 50px;
    }
        
    #basketB {
        height: 50px;
    }
        
    .ingredientB {
        height: 40px;
    }
    
    .goB {
        height: 50px;
    }
    
    #bottomTable {
        position: sticky;
    }
    
    #cancelOrderB {
        font-size: 15px;
    }
    
    #goBackToStart {
        position: sticky;
        float: left;
    }
    #goBackBCart {
    position: sticky;
    float: left;
    }

    #payB{
    position: sticky;
    float: right;
    }
    
}

