<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/customerStyle.css">
  <script src="/vue/vue.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="js/juicifer-main.js" defer></script>
  <script src="js/ordering.js" defer></script>
</head>
<body>
  <div id="ordering">
  <header>
    <button id="languageB" v-on:click="switchLang()">{{ uiLabels.language }}</button>
  </header>
  <main>
    <div id="startShown">
        <section id="centerSecStartP">       
           <img id="juiciferLogo" src="images/logo.png">
           <div>   
            <table id="buttonTable" align="center">
              <tbody>
                  <tr><td> <button id="juicifersFavB"> {{ uiLabels.favorites }} </button> </td></tr>
                  <tr><td> <button id="makeYourOwnB"> {{ uiLabels.makeYourOwn }} </button> </td></tr>
              </tbody>
            </table>
          </div>
        </section>
    </div>
  </main>
</div>
</body>
</html>