<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/customerStyle.css">
<script src="/vue/vue.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="js/juicifer-main.js" defer></script>
  <script src="js/ordering.js" defer></script>
</head>
<body>
<div id="ordering">
  <header id="headerChangeIngP">
    <table id="headTable">
      <tbody> 
        <tr>
          <td> <button id="cancelOrderB"> <div id="cancelOrderText"> {{ uiLabels.cancelOrder }} </div> </button></td>
          <td id="title"> Juicifer </td>
          <td> <button id="basketB"> <img id="basketLogo" src="images/basket.png"> </button> </td>
        </tr>
      </tbody>
    </table>
  </header>
  <main>
    <div v-if="favShown">
      <section id="favSec">
        <h3 id="chooseFavTitle">{{ uiLabels.chooseSmoothie }} </h3>
        <div class="favGrid">
            <div v-for="preparedDrink in readymade">
                <button class="favSquareB" v-on:click="showDrinkInfo(); markDrink(preparedDrink.rm_name)"><img class="ingImg" v-bind:src="preparedDrink.rm_img"><br> {{preparedDrink.rm_name}} {{ getIngredientNameList(preparedDrink.rm_ingredients) }}</button>
            </div>
        </div>
      <div id="goBackFullDiv">
          <button id="goBackB" class="goB"> <img class="arrow" src="images/backArrow.png"> </button>
      </div>
    </section> 
    </div>
      
    <div v-if="drinkInfoShown">
        <section id="drinkInfoSec">
            <div id="drinkInfoDiv">
                <div v-for="preparedDrink in readymade" v-if="preparedDrink.rm_name === chosenFavDrink">
                    <img id="bigDrinkImg" v-bind:src="preparedDrink.rm_img"><br> 
                    <h2>{{preparedDrink.rm_name}}</h2> <br>
                    <h3>{{uiLabels.content}}</h3> <br>
                    {{ getIngredientNameList(preparedDrink.rm_ingredients) }}
                </div>
            </div>
          <div> 
            <table id="bottomTable"> 
                <tr>
                  <td> <button id="goBackB" class="goB" v-on:click="showFav()"> <img class="arrow" src="images/backArrow.png"> </button> </td>
                  <td> <h4 id="pickSize"> {{uiLabels.choose}} </h4> </td>
                  <td> <button id="goForwardB" class="goB"> <img class="arrow" src="images/forwardArrow.png"> </button> </td>
                 </tr>
             </table>
          </div>
        </section>
    </div>  
  </main>
</div>
</body>
</html>
 