<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/customerStyle.css">
</head>
<body>
  <header>
    <button id="languageB", v-on:click="switchLang()">{{ uiLabels.language }}></button>
  </header>
  <main>
    <section id="centerSecStartP">       
       <img id="juiciferLogo" src="images/logo.png">
       <div>   
        <table id="buttonTable" align="center">
          <tbody>
              <tr><td> <button id="juicifersFavB"> Juicifers favoriter </button> </td></tr>
              <tr><td> <button id="makeYourOwnB"> Gör din egen </button> </td></tr>
          </tbody>
        </table>
      </div>
    </section>
  </main>
</body>
</html>