<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/customerStyle.css">
</head>
<body>
  <header>
    <table id="headTable">
      <tbody> 
        <tr>
          <td> <button id="cancelOrderB"> <div id="cancelOrderText"> Avbryt köp </div> </button></td>
          <td id="title"> Juicifer </td>
          <td> <button id="basketB"> <img id="basketLogo" src="images/basket.png"> </button> </td>
        </tr>
      </tbody>
    </table>
  </header>
  <main>
      <div id="yourDrinkShown">
          <section id="centerSecYourDrinkP">
              <div>
                <h4> Din dryck </h4>
                <h2> Drycknamn </h2>
                <h5> (Tryck på ingrediensen för att ändra den) </h5>
              </div>
              <div>
                <table id="lowerTable">
                  <tbody>
                      <tr><td> <button class="ingredientOblongB"> Ingrediens 1 </button> </td></tr>
                      <tr><td> <button class="ingredientOblongB"> Ingrediens 2 </button> </td></tr>
                      <tr><td> <button class="ingredientOblongB"> Ingrediens 3 </button> </td></tr>
                      <tr><td> <button class="ingredientOblongB"> Ingrediens 4 </button> </td></tr> 
                      <tr><td> <button class="ingredientOblongB"> Ingrediens 5 </button> </td></tr>
                  </tbody>
                </table>
              </div>
              <div> 
                <table id="bottomTable"> 
                    <tr>
                      <td> <button id="goBackB" class="goB"> <img class="arrow" src="images/backArrow.png"> </button> </td>
                      <td> <h4 id="pickSize"> Välj storlek </h4> </td>
                      <td> <button id="goForwardB" class="goB"> <img class="arrow" src="images/forwardArrow.png"> </button> </td>
                     </tr>
                 </table>
              </div>
        </section>
    </div>
  </main>
</body>
</html>
 