<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/customerStyle.css">
</head>
<body>
    <div id="ordering">
      <header>
        <table id="headTable">
          <tbody> 
            <tr>
              <td> <button id="cancelOrderB"> <div id="cancelOrderText"> Avbryt köp </div> </button></td>
              <td id="title"> Juicifer </td>
              <td> <button id="basketB"> <img id="basketLogo" src="images/basket.png"> </button> </td>
            </tr>
          </tbody>
        </table>
      </header>
      <main>
        <section id="centerSecYourDrinkP">
          <div>
            <table id="lowerTable">
              <tbody>
                  <tr><td> <h2> {{preparedDrink.rm_name}} </h2> </td></tr>
                  <tr><td> </td></tr>
              </tbody>
            </table>
          </div>
          <div> 
            <table id="bottomTable"> 
                <tr>
                  <td> <button id="goBackB" class="goB"> <img class="arrow" src="images/backArrow.png"> </button> </td>
                  <td> <h4 id="pickSize"> {{uiLabels.choose}} </h4> </td>
                  <td> <button id="goForwardB" class="goB"> <img class="arrow" src="images/forwardArrow.png"> </button> </td>
                 </tr>
             </table>
          </div>
        </section>
      </main>
    </div>
</body>
</html>
 