<!DOCTYPE html>
<html>
<!-- Common for every page -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/customerStyle.css">
<script src="/vue/vue.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="js/juicifer-main.js" defer></script>
  <script src="js/ordering.js" defer></script>
</head>
    

<body>
  <div id="ordering">
<!-- Headers -->
    <div v-if="startShown">
        <header id="headerStart">
            <button id="languageB" v-on:click="switchLang()">{{ uiLabels.language }}</button>
        </header>
    </div>
      
    <div v-if = "cartShown">
        <header>
          <button id="cancelOrderB" v-on:click = "showPage('showStart')"> {{ uiLabels.cancelOrder }}  </button>
          <h1 id = "titleCart"> Juicifer </h1>
        </header>
    </div>
    <div v-if="chooseTypeShown || baseShown || ingShown || piffShown || startAgainShown || yourDrinkShown || sizeShown || favShown || drinkInfoShown">
      <header id="headerChangeIngP">
        <table id="headTable">
          <tbody> 
            <tr>
              <td> <button id="cancelOrderB"  v-on:click = "showPage('showStart')"> <div id="cancelOrderText"> {{ uiLabels.cancelOrder }} </div> </button></td>
              <td id="title"> Juicifer </td>
              <td> <button id="basketB"> <img id="basketLogo" src="images/basket.png"> </button> </td>
            </tr>
          </tbody>
        </table>
      </header>
    </div>
  <main>
      
<!-- Page: start & startAgain -->
    <div v-if="startShown || startAgainShown">
        <section id="centerSecStartP">       
           <img id="juiciferLogo" src="images/logo.png">
           <div>   
            <table id="buttonTable" align="center">
              <tbody>
                  <tr><td> <button id="juicifersFavB" v-on:click="showPage('showChooseType'); choosePath('fav')"> {{ uiLabels.favorites }} </button> </td></tr>
                  <tr><td> <button id="makeYourOwnB" v-on:click="showPage('showChooseType'); choosePath('myo')"> {{ uiLabels.makeYourOwn }} </button> </td></tr>
              </tbody>
            </table>
          </div>
        </section>
    </div>
      
<!-- Page: choose type -->
    <div v-if="chooseTypeShown">
        <section id="centerSecChooseTypeP">       
            <h1> {{ uiLabels.chooseType }}<br>{{ uiLabels.drink }}</h1>
           <div>   
            <table id="buttonTable" align="center">
              <tbody>
                  <tr><td> <button id="juicifersFavB" v-on:click="showPage('showFavOrMyo');chooseTempType('juice')"> Juice </button> </td></tr>
                  <tr><td> <button id="makeYourOwnB" v-on:click="showPage('showFavOrMyo');chooseTempType('smoothie')"> Smoothie </button> </td></tr>
              </tbody>
            </table>
          </div>
        </section>
    </div>
<!-- Page: show base, ing and piff -->
    <div v-if="baseShown || ingShown || piffShown">
        <section id="upperSecChooseBasePiff">
            <h5 id = "stepText"> {{ uiLabels.baseIngPiff }}</h5>
            <div id="stepPanel">
                <p class="stepCircle" id="step1"> 1 </p>
                <p class="stepCircle" id="step2"> 2 </p>
                <p class="stepCircle" id="step3"> 3 </p>
                <p class="stepCircle" id="step4"> 4 </p>
                <p class="stepCircle" id="step5"> 5 </p>
            </div>
        </section>
  
<!-- This is step 1 -->
                  <div v-if="baseShown">
                    <h4 id ="chooseBasePiffText"> {{ uiLabels.chooseBase }} </h4>
                    <section id="middleSec">
                      <div class="ingredientsGrid">
                        <ingredient
                          ref="ingredient"
                          type="smoothie"
                          v-for="item in ingredients"
                          v-if="item.smoothie_base"
                          v-on:increment="addToOrder(item, 'smoothie')"  
                          :item="item" 
                          :lang="lang"
                          :key="item.ingredient_id">
                        </ingredient>
                      </div>
                      </section>
                    </div>
<!-- This is step 2- 4 -->
                <div v-if= "ingShown">
                  <div id = "lowerUpperChooseIng">
                    <h4> {{ uiLabels.chooseIng }}</h4>
                      <table id="categoryTable">
                        <tbody>
                            <tr>
                                <td> <button class="categoryB" id="fruitB" v-on:click="filterIngType('fruit')"> {{ uiLabels.fruit }} </button></td>
                                <td> <button class="categoryB" id="vegetableB" v-on:click="filterIngType('vegetable')"> {{ uiLabels.vegetable }} </button></td>
                                <td> <button class="categoryB" id="otherB" v-on:click="filterIngType('other')"> {{ uiLabels.other }} </button></td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                <section id="middleSecChooseIng">
                    <div class="ingredientsGrid">
                        <ingredient
                          ref="ingredient"
                          type="smoothie"
                          v-for="item in ingredients"
                          v-if="item.stock > 0 && item.ingredient_category === ingType"
                          v-on:increment="addToOrder(item, 'smoothie')"  
                          :item="item" 
                          :lang="lang"
                          :key="item.ingredient_id">
                        </ingredient>
                      </div>     
                    </section>
                </div>
<!-- This is step 5 -->
                    <div v-if="piffShown">
                        <h4 id ="chooseBasePiffText"> {{ uiLabels.choosePiff }} </h4>
                        <section id="middleSec">
                          <div class="ingredientsGrid">
                            <ingredient
                              ref="ingredient"
                              type="smoothie"
                              v-for="item in ingredients"
                              v-if="item.stock > 0 && item.ingredient_category === 'piff'"
                              v-on:increment="addToOrder(item, 'smoothie')"  
                              :item="item" 
                              :lang="lang"
                              :key="item.ingredient_id">
                            </ingredient>
                          </div>
                        </section>
                    </div>
        <section id="lowerSecChooseBasePiff">
          <div> 
            <table id="bottomTable"> 
                <tr>
                  <td> <button id="goBackB" class="goB" v-on:click="changePage(false)"> <img class="arrow" src="images/backArrow.png"> </button> </td>
                  <td> <h4 id="forwardInfo"> {{ uiLabels.next }} </h4> </td>
                  <td> <button id="goForwardB" class="goB" v-on:click="changePage(true)"> <img class="arrow" src="images/forwardArrow.png"> </button> </td>
                 </tr>
             </table>
          </div>
        </section>
      </div>
      
<!-- Your drink page -->
      <div v-if="yourDrinkShown">
          <section id="centerSecYourDrinkP">
              <div>
                <h4> Din dryck </h4>
                <h2> Drycknamn </h2>
                <h5> (Tryck på ingrediensen för att ändra den) </h5>
              </div>
              <div>
                <table id="lowerTable">
                  <tbody>
                      <tr><td> <button class="ingredientOblongB"> Ingrediens 1 </button> </td></tr>
                      <tr><td> <button class="ingredientOblongB"> Ingrediens 2 </button> </td></tr>
                      <tr><td> <button class="ingredientOblongB"> Ingrediens 3 </button> </td></tr>
                      <tr><td> <button class="ingredientOblongB"> Ingrediens 4 </button> </td></tr> 
                      <tr><td> <button class="ingredientOblongB"> Ingrediens 5 </button> </td></tr>
                  </tbody>
                </table>
              </div>
              <div> 
                <table id="bottomTable"> 
                    <tr>
                      <td> <button id="goBackB" v-on:click = "showPage('showPiff')" class="goB"> <img class="arrow" src="images/backArrow.png"> </button> </td>
                      <td> <h4 id="pickSize"> Välj storlek </h4> </td>
                      <td> <button id="goForwardB" v-on:click = "showPage('showSize')" class="goB"> <img class="arrow" src="images/forwardArrow.png"> </button> </td>
                     </tr>
                 </table>
              </div>
        </section>
    </div>
      
<!-- Page Chose size Drink -->
      
    <div v-if="sizeShown"> 
        <section id="centerSecYourDrinkP">
          <div>
            <h2> {{ uiLabels.chooseSize }} <br> {{ uiLabels.ofYourDrink }} </h2>
          </div>
          <div>
            <table id="lowerTable">
              <tbody>
                  <tr><td> <button class="cup"> <img id="cupLogoS" src="images/cup.png"> <h5> {{ uiLabels.small }} (20cl)<br>36 kr</h5> </button> </td>
                      <td> <button class="cup"> <img id="cupLogoM" src="images/cup.png"> <h5> {{ uiLabels.medium}} (33cl)<br>42 kr </h5> </button> </td>
                      <td> <button class="cup"> <img id="cupLogoL" src="images/cup.png"> <h5> {{ uiLabels.large }} (50cl) <br>49 kr </h5></button></td></tr>

              </tbody>
            </table>
          </div>
          <div> 
            <table id="bottomTable"> 
                <tr>
                  <td> <button id="goBackB" v-on:click = "showPage('showYourDrink')" class="goB"> <img class="arrow" src="images/backArrow.png"> </button> </td>
                  <td> <h4 id="forwardInfo"> {{ uiLabels.add }} </h4> </td>
                  <td> <button id="goForwardB" v-on:click = "showPage('showCart')" class="goB"> <img class="arrow" src="images/forwardArrow.png"> </button> </td>
                 </tr>
             </table>
          </div>
        </section>
    </div>      
      
<!-- Page Cart  -->
    <div v-if ="cartShown">
        <section id="centerSecYourDrinkP">
          <div>
            <h2> {{ uiLabels.basket }} </h2>
            <hr>
          </div>
          <div id ="cartGrid">
          </div>
            <div id ="addMoreDrinksDiv">
                <button id="addMoreDrinksB" v-on:click = "showPage('showStartAgain')"> {{ uiLabels.addToOrder1 }}<br>{{ uiLabels.addToOrder2 }}</button>
                <hr>
            </div>

          <div>
            <button id="goBackBCart" v-on:click = "showPage('showSize')" class="goB"> <img class="arrow" src="images/backArrow.png"> </button> 
              <button id="payB" v-on:click ="showPage('showFav')" class="goB"> {{ uiLabels.pay }}</button> 
          </div>
        </section>
    </div>      

<!-- Juicifers Favourites Page -->

<div v-if="favShown">
      <section id="favSec">
        <h3 id="chooseFavTitle">{{ uiLabels.chooseSmoothie }} </h3>
        <div class="favGrid">
            <div v-for="preparedDrink in readymade" >
                <button class="favSquareB" v-if="preparedDrink.rm_type === tempType" v-on:click="showPage('showFavInfo'); markDrink(preparedDrink.rm_name)"><img class="ingImg" v-bind:src="preparedDrink.rm_img"><br> {{preparedDrink.rm_name}}</button>
            </div>
        </div>
      <div id="goBackFullDiv">
          <button id="goBackB" v-on:click ="showPage('showChooseType')" class="goB"> <img class="arrow" src="images/backArrow.png"> </button>
      </div>
    </section> 
    </div>
    
<!-- Drink Info Fav -->
      
    <div v-if="drinkInfoShown">
        <section id="drinkInfoSec">
            <div id="drinkInfoDiv">
                <div v-for="preparedDrink in readymade" v-if="preparedDrink.rm_name === chosenFavDrink">
                    <img id="bigDrinkImg" v-bind:src="preparedDrink.rm_img"><br> 
                    <h2>{{preparedDrink.rm_name}}</h2> <br>
                    <h3>{{uiLabels.content}}</h3> <br>
                    {{ getIngredientNameList(preparedDrink.rm_ingredients) }}
                    <div>
                        <table id="tastePanel"> 
                            <tr>
                              <td> <img class="tasteClock" v-bind:src="preparedDrink.rm_sweet"></td>
                              <td> <img class="tasteClock" v-bind:src="preparedDrink.rm_sour"> </td>
                              <td> <img class="tasteClock" v-bind:src="preparedDrink.rm_full"> </td>
                             </tr>
                            <tr>
                                <td> Sötma </td>
                                <td> Syrlighet </td>
                                <td> Fyllighet </td>
                            </tr>
                         </table>
                     </div>
                </div>
            </div>
          <div> 
            <table id="bottomTable"> 
                <tr>
                  <td> <button id="goBackB" class="goB" v-on:click ="showPage('showFav')" > <img class="arrow" src="images/backArrow.png"> </button> </td>
                  <td> <h4 id="pickSize"> {{uiLabels.choose}} </h4> </td>
                  <td> <button id="goForwardB"  class="goB"> <img class="arrow" src="images/forwardArrow.png"> </button> </td>
                 </tr>
             </table>
          </div>
        </section>
    </div>      
      
<!-- Bottom panel -->
      <div v-if="chooseTypeShown || startAgainShown">
            <div id="goBackToStart">
                <button id="goBackB"  class="goB" v-
                on:click="showPage"> <img class="arrow" src="images/backArrow.png"> </button>
            </div>
        </div>
            
  </main>
</div>
</body>
</html>
 