@import url("reset.css");

@font-face {
    font-family: 'champagne__limousinesregular';
    src: url('fonts/champagne/champagne_limousines-webfont.eot');
    src: url('fonts/champagne/champagne_limousines-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/champagne/champagne_limousines-webfont.woff2') format('woff2'),
         url('fonts/champagne/champagne_limousines-webfont.woff') format('woff'),
         url('fonts/champagne/champagne_limousines-webfont.svg#champagne__limousinesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'crapaudgros';
    src: url('fonts/crapaud/crapaud_gros-webfont.eot');
    src: url('fonts/crapaud/crapaud_gros-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/crapaud/crapaud_gros-webfont.woff2') format('woff2'),
         url('fonts/crapaud/crapaud_gros-webfont.woff') format('woff'),
         url('fonts/crapaud/crapaud_gros-webfont.svg#crapaudgros') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
background-color: white;
font-family: 'champagne__limousinesregular', arial, sans-serif;
text-transform: capitalize;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Layout */
header {
  height: 15vh;
  background-color: white;
    /*padding-bottom: 3vh;*/
}

main {
  height: 85vh;
  line-height: 85vh;
  text-align: center;
}

/* Headlines */
h1 {
  font-size: 6vh;
}

h2 {
    font-size: 4.5vh;
}

h3 {
    font-size: 4vh;
}

h4 {
    font-size: 3vh;
}

h5 {
    font-size: 2vh;
}
h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.lowerCaseHeadline {
    text-transform: inherit;
}

/* General */
button {
  margin: 1.5vw;
  border: 0.1em solid;
  border-radius: 1em;
  font-size: 4vw;
  background-color: white;
  border-color: rgb(215,83,14);
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'champagne__limousinesregular', arial, sans-serif;
}

/* Upper section */
#headTable {
  width: 100%;
    table-layout: fixed;
}

#title {
    margin-top: 7%;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    font-size: 5vh;
    text-transform: uppercase;
    letter-spacing: 1.5vw;
}

#cancelOrderB {
  width: 22vw;
  height: 12vh;
  float:left;
  font-size: 3.5vw;
}

/*#cancelOrderText {
    display: block;
width: auto;
 height: 60%;
	font-size: 12px;
padding-top: 2.5vh;
}*/

#basketB {
  width: 22vw;
  height: 12vh;
  float:right;
  border-color: transparent;
}

#basketLogo {
 width: auto;
 height: 80%;
 margin-left: auto;
 margin-right: auto;
}

#basketCircle {
  width: 6vw;
  height: 6vw;
  border-radius: 9vw;
  font-size: 4vw;
  text-align: center;
  padding-top: 1vw;
  padding-left: 1.5vw;
  position: absolute;
  overflow: hidden;
  background-color: rgb(310,180,70);
  border-color: rgb(215,83,14); /*SYNS EJ! */
  color: black;
}

/* Central section */

#buttonTableStartP {
	margin-top: 5vh;
  width: 100%;
    /*background-color: red;*/
}

#buttonTableTypeP {
  margin-top: 15vh;
  width: 100%;
}

#lowerTable {
  width: 100%;
   /* background-color: red;*/
    margin-top: 7vh;
}



/* Bottom section */
/* Go back and forward buttons */
.goBackDiv {
  display: block;
  line-height: normal;
  position: fixed;
  width: 100vw;
  bottom: 0px;
  background-color: white;
}

.goForwardDiv {
    display: block;
    line-height: normal;
    position: fixed;
	width:50vw;
	height:14vh;
    bottom: 0px;
    right: 0px;
    background-color: white;
}

/* Ta bort bottomTable? Används inte? */
#bottomTable {
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: white;
}

.goB {
  width: auto;
  height: 12vh;
  border-color: white;
  font-size: 4vw;
    vertical-align: baseline;
}

#goBackB {
    left: 0px;
	float:left;
    bottom: 0px:
}

#goForwardB {
  right: 0;
  float:right;
}

.arrow {
 width: auto;
 height: 50%;
margin-left: auto;
 margin-right: auto;
}

/* Start page */

#headerStart {
    position: fixed;
    width: 100vw;
}

#centerSecStartP {
  display: block;
  line-height: normal;
    position: fixed;
    height: 85vh;
    margin-top: 14vh;
   /* background-color: yellow;*/
}

#languageB {
    width: 22vw;
  height: 10vh;
  float: right;
    margin: 1em;
    font-size: 3vw;
}

#juiciferLogo {
  width: 50%;
  margin-bottom: 5%;
}

#juicifersFavB {
  width: 80%;
  height: 11vh;
}

#makeYourOwnB {
  width: 80%;
  height: 11vh;
}

/* Your drink page */
#centerSecYourDrinkP {
  display: block;
  line-height: normal;
    height: 85vh;
    margin-top: 15vh;
}

#chosenIngGrid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1vh;
    margin-top: 3vh;
    margin-bottom: 14vh;
}

.ingredientOblongB {
  width: 75%;
  height: 8vh;
}


#forwardInfo {
  margin-left: 18vw;
  position:absolute;
  margin-top: 5vh;
  font-size: 4vw;
  /*margin-left: 0vw;
	vertical-align: middle;
	display: inline-block;
	margin-top: 5vh;
  font-size: 4vw;
    /* want to vertical align: middle, baseline
    krånglar till det */
}

#forwardInfoChoose {
  margin-left: 13vw;
  position:absolute;
  margin-top: 5vh;
  font-size: 4vw;
  }
/* Change ingredients page */

#headerChangeIngP {
    position: fixed;
    top: 0px;
}
#upperSecChangeIngP {
  display: block;
  line-height: normal;
	background-color: white;
    height: 25vh;
    position: fixed;
    top: 15vh;
    /*background-color: red;*/
}

#middleSecChangeIng {
  display: block;
  line-height: normal;
    margin-top: 40vh;
    margin-bottom: 17vh;
}

#lowerSecChangeIngP {
  display: block;
  line-height: normal;
}

#categoryTable {
    width: 100%;
}

.categoryB {
    width: 30vw;
    height: 8vh;
    font-size: 3vw;
    font-size-adjust: auto;
}

.ingredientsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 1vh;

}

.ordering {
    margin-top: 70vh;
}

.ingredient {
    padding: 1vw;
    width: 22vw;
    margin: auto;
}

.ingredientSquareB {
  width: 21vw;
  height: 21vw;
    font-size: 2vw;
    border-radius: 6vw;

}

.favImg {
    height: 16vh;
    max-width: 20vw;
    max-height: 16vw;
}

.ingImg {
    height: 10vh;
    max-width: 17vw;
    max-height: 10vw;
}

#forwardinfoSize {
	margin-left: 0vw;
	position:absolute;
	margin-top: 5vh;
	font-size: 4vw;
}

/* Choose Type page */
#centerSecChooseTypeP {
    margin-top: 25vh;
    display: block;
    line-height: normal;
    height: 85vh;
    width: 100vw;
    /*background-color: yellow;*/
    position:fixed;
}

/* Choose Size page */

#cupLogoS {
    height: 37%;
    width: auto;
    margin-top: 6.5vh;
}

#cupLogoM {
    height: 47%;
    width: auto;
    margin-top: 5vh;
}

#cupLogoL {
    height: 57%;
    width: auto;
}

.cup {
    width: 30vw;
    height: 33vh;
    vertical-align: middle;
}


/* Cart Page*/


#headerCart{
	position:fixed;
	top:0px;
	width:100%;
}

#titleCart {
    padding-top: 7%;
    padding-right:23%;
    text-align:center;
    font-size: 5vh;
    text-transform: uppercase;
    letter-spacing: 1.5vw;
}

#cartDiv {
	position:fixed;
	width:100%;
	margin-top:-7.5vh;
	background-color: white;
}

#cartGrid {
	margin-bottom: 30vh;
	display:grid;
	margin-top:22vh;
	grid-row-gap: 3vh;
	grid-template-columns: repeat(1,1fr);

}

#cartItem {
	width:80vw;
	padding-left: 10vw;
	padding-right: 10vw;
	text-align: center;

}

#cartItemName{
 	float:left;
}

#cartItemPrice{
	float:right;
}

#crossImg {
	height:100%;
	margin: auto;

}

#cancelCartItemB {
	width:12vw;
	border-radius: 1vw;
	height: 8vw;
	border-color: transparent;

}

#cartTable {
    width: 100%;
}

#cartBottomDiv {
	position:fixed;
	background-color: white;
    width: 100%;
    display: block;
}

#addMoreDrinksDiv{
	position: fixed;
	background-color: white;
	width:100%;
	top: 70vh;
}

#addMoreDrinksB{
  width: 55%;
  height: 10vh;
}

#goBackBCart {
    position:fixed;
    left: 0px;
    bottom: 0px;
}

#payB{
  position:fixed;
  right: 0px;
  bottom:0px;
  border-color: rgb(215,83,14);
  width: 35%;
  height: 10vh;
}

hr {
    border-color: black;
    width: 80%;
}

/* Your order div*/
#yourOrderDiv {
    margin-top: 10vh;
}

#newOrderDiv {
    margin-top: 30vh;
}

#newOrderB {
    width: 50vw;
    height: 15vh;
}

/* Choose Ingredient page */
.stepCircle {
    width: 13vw;
    height: 13vw;
    background-color: lightgrey;
    border-radius: 9vw;
    font-size: 12vw;
    font-weight: bold;
    color: grey;
	position: relative;
	overflow: hidden;
}

#step1 {
    background-color: white;
    color: black;
	box-shadow:0px 0px 6px 3px #fff, 0px 0px 8px 5px #FF4500, 0px 0px 11px 7px #FFFFE0;
}

#stepPanel {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2vw;
    height: 1em;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;

}

#upperSecChooseIngP {
  display: block;
  line-height: normal;
    height: 22vh;
    width: 100vw;
    position: fixed;
    top: 12vh;
    /*background-color: yellow;*/
    padding-bottom: 5vh;
    margin-top: 2vh;
}

#middleSecChooseIng {
  display: block;
  line-height: normal;
    margin-top: 40vh;
    margin-bottom: 17vh;
}

#lowerUpperChooseIng {
    display: block;
  line-height: normal;
    width: 100vw;
    height: 13vh;
    margin-top: -14vh;
    background-color: white;
    position: fixed;
}

#stepText {
    letter-spacing: 2.5vw;
}

/* Choose Base Piff page*/

#chooseBasePiffText {
    display: block;
  line-height: normal;
    width: 100vw;
    position: fixed;
    margin-top: -6vh;
    background-color: white;
}

#upperSecChooseBasePiff{
  display: block;
  line-height: normal;
    height: 8vh;
    width: 100vw;
    position: fixed;
    top: 12vh;
    background-color: white;
    padding-bottom: 5vh;
    margin-top: 2vh;
}

#middleSec {
  display: block;
  line-height: normal;
    margin-top: 33vh;
    margin-bottom: 17vh;
}

#lowerSecChooseBasePiff {
    position: fixed;
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 15vh;
    background-color: white;
}

#vegetableB, #otherB {
    color: grey;
    border-color: grey;
}

/* Fav Page */

#favSec {
  display: block;
  line-height: normal;
   margin-top: 10vh;
}

#chooseFavTitle {
    position: fixed;
    background-color: white;
    width: 100vw;
    padding-bottom: 2vh;
    margin-top: -11vh;
}

.favGrid {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-row-gap: 1vh;
    margin-top: 25vh;
    margin-bottom: 14vh;
    margin-left: 6vh;
    margin-right: 6vh;
   /* background-color: blue*/
}

#goBackFullDiv {
    display: block;
    line-height: normal;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    text-align: left;
    background-color: white;
}

.favSquareB {
  width: 30vw;
  height: 30vw;
  font-size: 2.85vw;
  border-radius: 6vw;
  margin-left: 4vw;
  margin-right: 4vw;
}
.favvo {
  margin-left: 0;
}
.rotate {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: bold;
}

/* Drink Info page */
#drinkInfoSec {
  display: block;
  line-height: normal;
	margin-top: 10vh;
    position: fixed;
    width: 100vw;
}


#drinkInfoDiv {
    margin-top: 8vh;
    font-size: 2.5vh;
    /*background-color: blue;*/
}

#bigDrinkImg {
    height: 30vh;
}

#tastePanel {
    width: 100vw;
    position: fixed;
    bottom: 15vh;
    background-color: white;
    table-layout: fixed;
    font-size: 2.25vh;
}

.tasteClock {

    width: auto;
    height: 13vw;
}

/* MEDIA STUFF */

@media all and (max-height: 450px) {
    header {
        height: 60px;
    }

    /*#cancelOrderB {
        height: 50px;
        font-size: 15px;

    }*/

    #basketB {
        height: 50px;
    }

    .ingredientB {
        height: 40px;
    }

    .goB {
        height: 50px;
    }

    #bottomTable {
        position: relative;
        /* Måste fixa så den ej centreras då
        höjden på fönstret minskas */
    }


    #goBackDiv {
        position: sticky;
        float: left;
		width: 50vw;
		background-color: white;
    }

    #goBackBCart {
    position: sticky;
    float: left;
    }

    #payB{
    position: sticky;
    float: right;
    }

}




@media screen and (aspect-ratio: 16/9) {
  body {
  }
}
