/*-------------Storlek på alla olika divs--------------*/
#mainDiv{
  display: grid;
  grid-template-areas: "top1 top2" "o1 o2" ". clock";
  grid-template-columns: 1.2fr 2.8fr;
  grid-template-rows: 1fr 11fr 0fr;
}

#searchButton{
  position:absolute;
  top: 2%;
  right: 0;
}

/*----- Sektion för storformat----*/
.leftDiv{
  border-right: 1pt solid white;
  height: 95vh;
}

#leftDiv{
  grid-area: o1;
  text-align: center;
}

#topDivLeft{
  grid-area: top1;
  margin-bottom: 30%;
}

/*---------------Order i storformat--------------------*/
li span{
  color:white;
  font-size: 2vw;
  text-transform: capitalize;
}

.headOrderInfo{
  text-transform: capitalize;
  font-size: 2.5vw;
  margin-bottom: 1.5vh;
  padding-top: 2vh;
}

#antalIngredienser{
  position:inherit;
  float: right;
  margin-right: 1vw;
  margin-top: 1.5vh;
  color: white;
  font-size: 2vw;
}

hr{
  margin-left: 1vw;
  margin-right: 1vw;
}

#orderSize{
  text-transform: uppercase;
  font-size: 1.8vw;
  margin: 0;
}

#orderStatus{
  font-size: 1.2pt;
}

/* ------------- Knapp ----------------*/
.button{
  background-color:transparent;
  cursor: pointer;
  overflow: hidden;
  border: 0pt;
}

#takeOrderBackButton{
  font-family: 'champagne__limousinesregular', arial, sans-serif;
  background: rgb(105,105,105);
  border: 1px solid white;
  border-radius: 1vh;
  font-size: 2vh;
  height: 8vh;
  width: 20vw;
  color: white;
  position: absolute;
  left: 5vw;
  bottom: 6vh;
  text-transform: uppercase;
}

/*----------------Sektion för orderlistan-----------*/
#rightDiv{
  grid-area: o2;
  text-align: center;
}

#topDivRight{
  grid-area: top2;
  margin-bottom: 3vh;
}

/*-------------Listan med alla ordrar------------*/
.smallOrderList{
  margin-left:2vw;
  grid-template-columns: repeat(auto-fit, 21%);
}

.smoothie{
	width:100%;
  height: 10vh;
}

.juice{
  width:100%;
  height: 10vh;
}

/*------------ Popup med sifferconsolen-----------*/
.modal {
    display: none; /* Hidden by default */
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: rgb(64,64,64);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30vw;
    overflow: auto;
    border-radius: 2vw;
}

.close {
    color: #aaa;
    float: right;
    font-size: 10vh;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/*-------Sök consolen-----*/
/*HÄR -- dessa id är p - drabbas av CSSstäden (ser bra ut nu?) - byt ev till span*/
#consoleHeader{
  text-align:center;
  margin-top: 4vh;
}

#keyboard {
  width: 20.5vw;
  display: inline-block;
  margin-top: 0%;
  padding: 0;
  list-style: none;
}

#noSearchMatch {
  height: 3vh;
  font-size: 2.5vh;
  padding-left: 9%;
}

#changeSaldoConsole{
    border: 1px solid rgb(255,255,255);
    border-radius: 5px;
    background-color: rgb(255,255,255,0.4);
    width:19vw;
    height: 5vh;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 1vh;
}

#changeSaldoConsoleChild{
  text-align: center;
  font-size: 3vh;
  height: 3vh;
}

.letterButton{
    float: center;
    width: 30%;
    height: 10%;
    background-color:  rgb(155,155,155);
}

.letterButtonEnter{
    float: center;
    margin-right: 0.8vw;
    margin-top: 0.5vh;
    width: 19vw;
    margin-left: auto;
    margin-right:auto;
}
