#mainDiv{
  display: grid;
  grid-template-areas: "top top top" "o1 o2 waiting" ". . clock";
  grid-template-columns: 1.8fr 1.8fr 1.4fr;
  grid-template-rows: 1fr 9fr 1fr;
}

#topDiv{
    height: 8vw;
    margin:0;
    font-size: 2vw;
    grid-area: top;
}

#verticalLine{
  grid-area: waiting;
  height: 80vh;
  width: 1px;
  border-right: 1px solid white;
}

span {
  text-transform: capitalize;
}

#rightDiv{
  line-height: normal;
  float: right;
  height: 80%;
  grid-area: waiting;

}

#orderDiv1{
    margin: 2%;
    grid-area: o1;
    background: transparent;
    border-radius: 10px;
}

#orderDiv2{
    margin: 2%;
    grid-area: o2;
    background: transparent;
    border-radius: 10px;
}

#orders {
  grid-area: waiting;
}

#orderInfo{
    display: grid;
    align-content: center;
}

#orderSize{
  font-size: 2vw;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

#orderStatus{
  font-size:0pt;
}

hr{
  margin-left: 1vw;
  margin-right: 1vw;
}

/*-----------Färglägger texten till vit i ingredienslistan-------------*/
li span{
  color:white;
  font-size: 2vw;
}

#antalIngredienser{
  position:inherit;
  float: right;
  margin-right: 1vw;
  margin-top: 1.7vh;
  color: white;
  font-size: 2vw;
}

/*--------------SKAPAR RADIO KNAPPARNA--------------------*/
/* The container */
.containerEP {
    display: inline-block;
    position: relative;
    padding-left: 3vw;
    margin-bottom: 10%;
    margin-left: 2vw;
    text-align: left;
    cursor: pointer;
    font-size: 2vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.containerEP input {
    position: absolute;
    opacity: 0;
}

.containerP {
    display: inline-block;
    position: relative;
    padding-left: 3vw;
    margin-bottom: 10%;
    margin-left: 2vw;
    text-align: left;
    cursor: pointer;
    font-size: 2vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.containerP input {
    position: absolute;
    opacity: 0;
}

.containerK {
    display: inline-block;
    position: relative;
    padding-left: 3vw;
    margin-bottom: 10%;
    margin-left: 2vw;
    text-align: left;
    cursor: pointer;
    font-size: 2vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.containerK input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerEP:hover input ~ .checkmark {
    background-color: grey;
}

/* When the radio button is checked, add a blue background */
.containerEP input:checked ~ .checkmark {
    background-color: white;
}

.containerP:hover input ~ .checkmark {
    background-color: grey;
}

/* When the radio button is checked, add a blue background */
.containerP input:checked ~ .checkmark {
    background-color: rgb(255,215,0);
}

.containerK:hover input ~ .checkmark {
    background-color: grey;
}

/* When the radio button is checked, add a blue background */
.containerK input:checked ~ .checkmark {
    background-color: green;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerEP input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.containerEP .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: grey;
}

.containerP input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.containerP .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.containerK input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.containerK .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

#radioButtons{
  position: absolute;
  bottom: 4%;
}

/*--------- SMALL ORDER LIST ---------*/

.smoothie{
  margin: 4%;
	border: 2px dotted white;
  border-radius: 0.5vw;
	width:90%;
  height: 5vw;
  padding: 1%;
  cursor: pointer;
}

.juice{
  margin: 4%;
	border: 2px solid white;
  border-radius: 0.5vw;
	width:90%;
  padding: 1%;
  cursor: pointer;
}

.active {
  border-color: white;
  border-style: dotted;
  border-width: 4px;
  border-radius: 10px;
  min-height:80%;
}

.juice{
  border-style:solid;
}

.smoothie{
  border-style:dashed;
}

#started{
  border-color: yellow;
}

.hightligh{
  border: 3px solid yellow;
}

/*-----Sätter färg på short-item-list vid tryck på radioknapparna------*/
.not-started {
  background: transparent;
  height:5vw;
}
.started {
  background: rgb(255, 204, 0);
  height: 5vw;
}

.headOrderInfo{
  text-transform: capitalize;
  font-size: 2.5vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}
