#topDiv{
  height: 8vw;
  margin:0;
  font-size: 2vw;
}

/*-------Right side----------*/
#lager{
  width: 65vw;
  height: 75vh;
  float:left;
}

/*-----Alphabet---------*/
.alphabet {
  list-style-type: none;
  margin-top:90px;
  text-align: left;
  margin: 1%;
  width: 100%;
  padding: 0px;
  color:white;
}

.alphLetter {
  font-family: 'champagne__limousinesregular', arial, sans-serif;
  padding: 0px;
  font-size: auto;
  padding-left: 0.6vw;
  padding-right: 0.6vw;
  color: white;
  background-color: transparent;
  border: 0;
  display: inline;
  cursor: pointer;
}

#lagerList{
  width: 100%;
  height: 95%;
  overflow-y: scroll;
  text-align: left;
}

.ingredient {
  border: 1px solid white;
  width: 60vw;
  border-radius: 1vw;
  font-size: 5vh;
  padding: 0pt;
  margin: 1%;
  text-transform: capitalize;
  cursor: pointer;
}

.highlight{
    border: 3px solid white;
}

#ing_tit{
  font-size: auto;
  margin-left: 1vw;
}

#ing_stock{
  float: right;
  padding-right:1%;
  padding-top: 0.5%;
}

/*---------Left side---------- */
/*HÄR---Also in generalCSS*/
#lagerConsole {
  float:right;
  height: 95%;
}

#chosenIngredient{
    text-align: center;
    margin-left: auto;
    margin-right:7vw;
    font-size: 3vh;
    text-transform: uppercase;
    text-transform: capitalize;
}

#changeSaldoConsole{
    border: 1px solid rgb(255,255,255);
    border-radius: 5px;
    background-color: rgb(255,255,255,0.4);
    width: 63%;
    height: 40%;
    margin-left: 7%;
    margin-bottom: 2%;
}

#changeSaldoConsoleChild{
    text-align:center;
    font-size: 3vh;
    height: 3vh;
}

/*----------Buttons----------*/
#keyboard {
  width: 80%;
  height: auto;
  float:left;
  display: inline-block;
  margin: 7%;
  margin-top: 0%;
  padding: 0;
  list-style: none;
}

.letterButton{
    float: left;
    margin: 0 5px 5px 0;
    width: 25%;
    height: 10%;
    background-repeat: no-repeat;
}

.letterButtonEnter{
    font-family: 'champagne__limousinesregular', arial, sans-serif;
    float: left;
    margin: 0 5px 5px 0;
    width: 79%;

}
