#clock{
    font-size: 4vh;
    position:absolute;
    right: 4vw;
    bottom: 4vh;
}

#centerDiv{
  display: inline-block;
  margin-top: 2vh;
  line-height: normal;

}

h1 {
  font-family: 'champagne__limousinesregular', arial, sans-serif;
  font-size: 10vh;
  text-transform: uppercase;
  letter-spacing: 1vw;
}

/*--------Buttons------*/
button {
  font-family: 'champagne__limousinesregular', arial, sans-serif;
  color: rgba(255,255,255,1);
  padding: 10px;
  margin: 2vw;
  border: 0.1em solid;
  border-radius: 12px;
  font-size: 2.5vw;
  width: 12em;
  height: 6em;
  cursor: pointer;
}

.buttonText{
    font-size: 3.5vw;
}

/*------Färgkodning av knappar----*/
#lagerB {
  background: rgba(33,68,229,0.4);
  border-color: rgb(33,68,229);
}

#forberedB {
  background: rgba(255,142,0,0.4);
  border-color: rgb(255,142,0);
}

#historikB {
  background: rgba(39,166,17,0.4);
  border-color: rgb(39,166,17);
}

#statistikB {
  background: rgba(255,238,0,0.4);
  border-color: rgb(255,238,0);
}
