#maindiv{
    font-family: 'champagne__limousinesregular', arial, sans-serif;
    text-align: center;
}

/* Divs */

h1{
  color: #670;
	text-transform: uppercase;
	letter-spacing: 2pt;
}

.donut{
  width: 45vw;
  height: 65vh;
}

span{
  font-size: 5vh;
  margin-left: 32%;
}


#homeButton{
    float: left;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0pt;
    cursor: pointer;
    overflow: hidden;
}

#topDiv{
  text-align: center;
  font-size:10vh;
}
/*
p{
  margin-top: 2vh;
  margin-bottom: 13vh;
}*/


p {
  margin: 2%;
  margin-left: 0;
  font-size:10vh;
  margin-bottom: 10vh;
}

#donutchartOrders{
  float: left;
}

#donutchartIngred{
  float: right;
}

#clock{
  font-size: 4vh;
  position:absolute;
  right: 2vw;
  bottom: 1vh;
  margin:0;
}

#clock{
  font-size: 4vh;
  position:absolute;
  right: 4vw;
  bottom: 4vh;
}

@media (max-width:720px) {
  .smallOrderList {
    display:block;
  }
  .smallOrder {
    border: 1px solid #900;
    width: calc(100% -2em);
  }
}
