#topDiv{
  text-align: center;
  margin-bottom: 10vh;
}

.donut{
  width: 45vw;
  height: 65vh;
}

#donutchartOrders{
  float: left;
}

#donutchartIngred{
  float: right;
  text-transform: capitalize;
}

#errorSpan{
  font-size: 6vh;
  float: bottom;
}

@media (max-width:720px) {
  .smallOrderList {
    display:block;
  }
  .smallOrder {
    border: 1px solid #900;
    width: calc(100% -2em);
  }
}
