


#maindiv{
    font-family: 'champagne__limousinesregular', arial, sans-serif;
}

/* Divs */

h1{
  color: #670;
	text-transform: uppercase;
	letter-spacing: 2pt;
}

.donut{
  width: 45vw;
  height: 60vh;
}

#homeButton{
    float: left;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0pt;
    cursor: pointer;
    overflow: hidden;
}

#topDiv{
  text-align: center;
  font-size:10vh;

}

p{
  margin-top: 0.5vh;
}

#donutchartOrders{
  float: left;
}

#donutchartIngred{
  display: inline-flex;
}
#clock{
    font-size: 4vh;
    float: right;
    padding-right: 1vw;
}

@media (max-width:720px) {
  .smallOrderList {
    display:block;
  }
  .smallOrder {
    border: 1px solid #900;
    width: calc(100% -2em);
  }
}
